@charset "UTF-8";
/*重置样式*/
body, html, div, dl, dt, dd, ul, li, ol, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, th, td, a, img, span {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #999999; }

li {
  list-style: none; }

img {
  border: none; }

body, p, h1, h3, h2, h4, h5, h6, ul, ol, dl, dd, dt, fieldset, input, form, li {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  border: none; }

body {
  font-family: "微软雅黑";
  background: #fff; }

b, strong, em, i {
  font-weight: normal;
  font-style: normal; }

.left {
  float: left; }

.right {
  float: right; }

.wrapper {
  margin: 0 auto; }

.clear:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

/*header*/
#header #topheader {
  width: 100%;
  color: f4f4f4; }

#header .topheader .header-left li {
  float: left; }

#header .topheader .header-right li {
  float: left; }

#header .topheader .header-left li a {
  font-size: 12px;
  color: #6c6c6c;
  margin-left: 16px; }

#header .topheader .header-right li a {
  color: #6c6c6c;
  font-size: 14px;
  margin-left: 25px; }

body {
  width: 960px;
  height: 100%;
  margin: 0 auto; }

/*middleheader*/
.middleheader {
  height: 74px;
  width: 100%;
  margin-top: 24px; }

.middleheader .middleheader-left {
  margin: 21px 170px 20px 18px; }

#middleheader-center {
  float: left;
  width: 279px;
  margin: 34px 0px 14px 0px; }

#middleheader-center {
  margin-left: 0px; }

.middleheader-right {
  margin: 40px 0px; }

#searchText {
  float: left; }

#searchBtnBox {
  float: left; }

.buttonheader {
  margin: 0 auto; }

.buttonheader li {
  float: left;
  margin-right: 52px; }

.buttonheader li a {
  font-size: 14px;
  font-weight: 900;
  color: black; }

.buttonheader ul {
  margin: 0 auto; }

#hengxian {
  width: 960px;
  height: 0px;
  color: black;
  font-weight: 900;
  border: 1px solid black; }

.xinpin {
  width: 960px;
  height: 304px;
  display: none; }

.xinpin #xinpin-left {
  width: 60px;
  height: 74px;
  float: left; }

#xinpin-right {
  width: 502px;
  height: 266px; }

.nvshi {
  width: 960px;
  height: 304px; }

.nvshi #nvshi-left {
  width: 60px;
  height: 74px;
  float: left; }

#nvshi-right {
  width: 502px;
  height: 266px; }

.tongzhuang {
  width: 960px;
  height: 304px; }

.tongzhuang #tongzhuang-left {
  width: 60px;
  height: 74px;
  float: left; }

#tongzhuang-right {
  width: 502px;
  height: 266px; }

.tongzhuang {
  width: 960px;
  height: 304px; }

.tongzhuang #tongzhuang-left {
  width: 60px;
  height: 74px;
  float: left; }

#tongzhuang-right {
  width: 502px;
  height: 266px; }

.tongzhuang {
  width: 960px;
  height: 304px; }

.tongzhuang #tongzhuang-left {
  width: 60px;
  height: 74px;
  float: left; }

#tongzhuang-right {
  width: 502px;
  height: 266px; }

.tongzhuang {
  width: 960px;
  height: 304px; }

.tongzhuang #tongzhuang-left {
  width: 60px;
  height: 74px;
  float: left; }

#tongzhuang-right {
  width: 502px;
  height: 266px; }

.tongzhuang {
  width: 960px;
  height: 304px; }

.tongzhuang #tongzhuang-left {
  width: 60px;
  height: 74px;
  float: left; }

#tongzhuang-right {
  width: 502px;
  height: 266px; }

/*轮播图*/
#wrap {
  width: 960px;
  height: 500px;
  overflow: hidden;
  margin: 80px auto;
  position: relative; }

ul#slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 9999px; }

#slide li {
  float: left;
  width: 960px;
  height: 500px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 200px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 500px; }

#prev, #next {
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #fff;
  font-size: 60px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 200px;
  text-align: center;
  text-decoration: none;
  display: none; }

#wrap:hover #prev, #wrap:hover #next {
  display: block; }

#prev {
  left: 0; }

#next {
  right: 0; }

.box {
  text-align: center;
  margin-top: -11px;
  height: 20px;
  width: 100%;
  float: left;
  border-bottom: solid 1px #000000; }
  .box .mian1 {
    display: inline-block;
    line-height: 20px;
    padding: 0 11px;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    background: #FFFFFF; }

#mian2 {
  height: 384px;
  width: 960px; }

#mian2 #boxleft {
  width: 318px;
  height: 384px;
  float: left; }

#mian2 #mian2-left1 {
  width: 318px;
  height: 384px;
  float: left; }

#mian2 #main2-right {
  width: 318px;
  height: 384px;
  float: right; }

/*22222*/
.box1 {
  text-align: center;
  margin-top: -11px;
  height: 20px;
  width: 100%;
  float: left;
  border-bottom: solid 1px #000000; }
  .box1 .mian3 {
    display: inline-block;
    line-height: 20px;
    padding: 0 11px;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    background: #FFFFFF; }

#mian4 {
  height: 384px;
  width: 960px; }

#mian4-left {
  width: 318px;
  height: 384px;
  float: left; }

#mian4 #mian4-left1 {
  width: 318px;
  height: 384px;
  float: left; }

#mian4 #main4-right {
  width: 318px;
  height: 384px;
  float: right; }

/*33333*/
.box2 {
  text-align: center;
  margin-top: -11px;
  height: 20px;
  width: 100%;
  float: left;
  border-bottom: solid 1px #000000; }
  .box2 .mian5 {
    display: inline-block;
    line-height: 20px;
    padding: 0 11px;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    background: #FFFFFF; }

#mian6 {
  height: 384px;
  width: 960px; }

#mian6-left {
  width: 318px;
  height: 384px;
  float: left; }

#mian6 #mian6-left1 {
  width: 318px;
  height: 384px;
  float: left; }

#mian6 #main6-right {
  width: 318px;
  height: 384px;
  float: right; }

.box3 {
  text-align: center;
  margin-top: -11px;
  height: 20px;
  width: 100%;
  float: left;
  border-bottom: solid 1px #000000; }
  .box3 .mian7 {
    display: inline-block;
    line-height: 20px;
    padding: 0 11px;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    background: #FFFFFF; }

.flb8 {
  width: 962px;
  height: 296px;
  border: 1px solid red; }

.box4 {
  text-align: center;
  margin-top: -11px;
  height: 20px;
  width: 100%;
  float: left;
  border-bottom: solid 1px #000000; }
  .box4 .mian8 {
    display: inline-block;
    line-height: 20px;
    padding: 0 11px;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    background: #FFFFFF; }

.fashion {
  width: 962px;
  height: 248px;
  border: 1px solid #0000FF; }

.fashion div img {
  width: 318px;
  height: 248px; }

.fashion div {
  float: left; }

.fashion #fashion-middle {
  margin: 0 3.5px; }

.box5 {
  text-align: center;
  margin-top: -11px;
  height: 20px;
  width: 100%;
  float: left;
  border-bottom: solid 1px #000000; }
  .box5 .mian9 {
    display: inline-block;
    line-height: 20px;
    padding: 0 11px;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    background: #FFFFFF; }

.mian-button {
  width: 960px;
  height: 358px;
  border: 1px solid #0000FF; }

.mian-button div {
  float: left;
  margin: 66px 0 2px 0; }

.mian-button #fashion-middle {
  width: 316px;
  height: 218px; }

#hengxian1 {
  width: 960px;
  height: 0px;
  color: black;
  font-weight: 900;
  border: 1px solid #cccccc; }

/*footer*/
.footer {
  width: 962px;
  height: 118px;
  border: 1px solid red; }

.footer #footer-left {
  width: 382px;
  height: 88px; }

#footer {
  width: 100%;
  background: #ffffff; }

#footer .footer-content {
  width: 960px; }

#footer .footer-content .f-top {
  padding: 28px 0; }

#footer .f-top ul {
  margin-right: 44px; }

#footer .f-top ul a {
  color: black; }

#footer .f-top ul p {
  color: black;
  font-size: 14px;
  line-height: 14px;
  margin: 16px 0 12px; }

#footer .f-top ul li {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 16px; }

#fotcen {
  width: 486px;
  height: 100px;
  float: left; }

#fotcen #fotcen01 {
  float: left;
  font-weight: 900; }

#fotcen #fotcen02 {
  float: left;
  font-weight: 900;
  margin: 28px 40px 0 50px; }

#fotcen #fotcen03 {
  float: left;
  font-weight: 900; }

#fotcen #fotcen01 #p {
  font-size: 18px; }

.footer-next {
  width: 964px;
  height: 20px;
  background: #eeeeee; }

.footer-next .ftnl li {
  float: left;
  margin: 0 10px; }

.footer-next .ftnl li a {
  text-align: center; }

.footer-next .ftnl #ftnl1 {
  margin-left: 150px; }

.footer-then {
  width: 632px;
  height: 34px;
  margin: 0 auto; }

.footer-then .footer-thenconter li {
  float: left;
  margin: 0 6px; }

#wenben1 {
  text-align: center; }

#gslm {
  text-align: center;
  margin: 5px 10px; }

/*# sourceMappingURL=meixishishang.css.map */
